<body>

    <br><br>
    <!-- Page Content -->
    <div class="container" style="background-color: #f7f7f7">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1>Bitcamp 2017</h1>
                <hr>
                <h3>Court Case and SEC Datasets</h3>
                <!-- Author -->
                <p class="lead">
                    Julien Homble - Jeffrey He
                </p>
                <div class="ui divider"></div>
                <!-- Preview Image -->
                <div id="fileNames"></div>
                <!-- Post Content -->

                <div class="ui segment" ng-repeat="case in cases">
                    <p class="lead">Case ID: {{case.sha1}}</p>
                    <a href="{{case.absoluteUrl}}">Full Court Document Link</a>
                    <div class="ui divider"></div>
                    <p>Date Created: {{case.date}}</p>
                    <div class="ui form">
                        <div class="field">
                        </div>
                        <div class="field">
                            <label>Court Description</label>
                            <textarea>{{case.opinion}}</textarea>
                        </div>
                    </div>
                </div>
                <button ng-click=loadCases() class="fluid ui primary button">View More Cases</button>

            </div>


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <br><br>


                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Search By Case</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="ui form">
                                <div class="field">
                                    <label>Case ID</label>
                                    <div class="input-group">
                                        <input ng-model="caseID" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="findCase()" class="btn btn-default" type="button">
                                                <i class="search icon"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Search By Person in SEC Dataset</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="ui form">
                                <div class="two fields">
                                    <div class="field">
                                        <label>First Name</label>
                                        <div class="input-group">
                                            <input ng-model="firstName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Last Name</label>
                                        <div class="input-group">
                                            <input ng-model="lastName" type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button ng-click="findPerson()" class="btn btn-default" type="button">
                                                    <i class="search icon"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" ng-show="flag">
                        <div class="col-lg-12">
                            <h4>Cases linked to {{firstName}} {{lastName}}</h4>
                            <div ng-repeat="link in links">
                                <a href="{{link.link}}">{{link.link}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <h4>Run Natural Language Parser</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="ui form">
                                <textarea ng-model="nlpText"></textarea>
                            </form><br>
                            <button ng-click="runNLP()" class="ui primary button">Run NLP</button>
                        </div>
                    </div>
                    <div ng-show="nlpFlag" class="row">
                        <div ng-repeat="nlpData in nlpDatas">
                            <h5>Type: {{nlpData.type}}</h5>
                            <h5>Name: {{nlpData.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->
</body>