<body>

    <br><br>
    <!-- Page Content -->
    <div class="container" style="background-color: #f7f7f7">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1>Bitcamp 2017</h1>
                <hr>
                <h3>Court Case and SEC Datasets</h3>
                <!-- Author -->
                <p class="lead">
                    Julien Homble - Jeffrey He
                </p>
                <div class="ui divider"></div>
                <!-- Preview Image -->
                <div id="fileNames"></div>
                <!-- Post Content -->

                <div class="ui segment" ng-repeat="case in cases">
                    <p class="lead">Case ID: {{case.sha1}}</p>
                    <a href="{{case.absoluteUrl}}">Full Court Document Link</a>
                    <div class="ui divider"></div>
                    <p>Date Created: {{case.date}}</p>
                    <div class="ui form">
                        <div class="field">
                        </div>
                        <div class="field">
                            <label>Court Description</label>
                            <textarea>{{case.opinion}}</textarea>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <p>Choice to parse -> google NLP -> find more info/ links</p>
                </div>
                <button ng-click=loadCases() class="fluid ui primary button">View More Cases</button>

            </div>


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <br><br>
                <div class="well">
                    <h4>Find People...</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="search icon"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Filter Options</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="ui form">
                                <div class="two fields">
                                    <div class="field">
                                        <label>Start Date</label>
                                        <input type="date">
                                    </div>
                                    <div class="field">
                                        <label>End Date</label>
                                        <input type="date">
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Case ID</label>
                                    <div class="input-group">
                                        <input ng-model="caseID" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="findCase()" class="btn btn-default" type="button">
                                                <i class="search icon"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                               
                                <button class="ui button" type="submit">Add Filters</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>More Stuff if we need</h4>
                    <p>Maybe put the spark post thing here for suggested stuff</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->
</body>